# images - allow only JPG
*.png
*.PNG
*.afdesign

# do not include schematic .svg (as they are large). Only include a small jpg preview
**/previews/*.svg


# FreeCAD and Ondsel ES
*.FCStd1
*.FCStd.*
*.FCBak


# Production files
*.step
*.stl
*.3mf

# Misc
*.afdesign

# Temporary folders
**/.temp/*
**/.backup/*
**/.deprecated/*
.orders/*
.dev-parts/*